@model GestionArriendo.Models.Habitacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Habitacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Armario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baño)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
